@inject CompileService service;
@inject CommandService commandService;
@inject Context CurrentContext;


<div class="top-row pl-4 navbar navbar-dark">
    <h5><a class="navbar-brand" href="">Hakc#ble</a></h5>
    <button class="navbar-toggler" @onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="alert alert-info" role="alert">
    Commands
</div>

@*<p>@commandService.GetSummary()</p>*@

<div class=@(collapseNavMenu ? "collapse" : null) @onclick=@ToggleNavMenu>
    @*<ul class="nav flex-column">
        <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                    <span class="oi oi-home" aria-hidden="true"></span> Compile C#
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="blazor">
                    <span class="oi oi-plus" aria-hidden="true"></span> Compile Blazor
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-globe" aria-hidden="true"></span> Scene
                </NavLink>
            </li>
        </ul>*@

    <div class="d-flex">
        <div class="px-3" id="commandContainer" style="height: 60vh; overflow:auto">


            @{
                foreach (var command in commandService.Commands)
                {
                    @*<button @onclick="(command) => { RunCommand };">Command</button>*@
                    <button class="btn btn-info btn-sm my-2" @onclick="@(e => RunCommand(command))" style="background-color:@command.Accent; border-color:#1a1a1a">@command.Name</button>
                }
            }
        </div>
    </div>



    <div class="d-flex mt-5">
        @*<button class="btn btn-primary mx-auto" type="submit" @onclick=@launchCommandEditor>Button</button>*@
        <!-- Button trigger modal -->
        <button class="btn btn-primary mx-auto" @onclick="launchCommandEditor">Create New Command</button>

    </div>




    @*<CompileBlazorInBlazor.Component.CommandModal @ref="Modal"></CompileBlazorInBlazor.Component.CommandModal>*@

    <div class="modal @ModalClass overflow-auto" tabindex="-1" role="dialog" style="display:@CommandModalDisplay;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create a new command</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body overflow-auto" style="height: 550px">
                    <label for="command">Command Arguments</label>
                    <div class="input-group">
                        @{
                            if (currentDataAccess != null)
                            {
                                foreach (var arg in currentDataAccess.Arguments)
                                {
                                    if (arg is CompileBlazorInBlazor.Demo.NumberArgument)
                                    {
                                        var numArg = arg as CompileBlazorInBlazor.Demo.NumberArgument;

                                        <div class="d-flex my-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@arg.Prompt</span>
                                            </div>
                                            @*<label>@arg.Prompt</label>*@
                                            <input class="form-control" @bind="numArg.CurrentValue" type="number" />
                                        </div>
                                    }
                                    else if (arg is CompileBlazorInBlazor.Demo.IntegerArgument)
                                    {
                                        var intArg = arg as CompileBlazorInBlazor.Demo.IntegerArgument;

                                        <div class="d-flex my-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@arg.Prompt</span>
                                            </div>
                                            @*<label>@arg.Prompt</label>*@
                                            <input class="form-control" @bind="intArg.CurrentValue" type="number" />
                                        </div>
                                    }
                                    else if (arg is CompileBlazorInBlazor.Demo.TextArgument)
                                    {
                                        var textArg = arg as CompileBlazorInBlazor.Demo.TextArgument;

                                        <div class="d-flex my-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@arg.Prompt</span>
                                            </div>
                                            @*<label>@arg.Prompt</label>*@
                                            <input class="form-control" @bind="textArg.CurrentValue" type="text" />
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => CloseCommandModal()">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="() => ProceedRunCommand()">Run</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal @ModalClass overflow-auto" tabindex="-1" role="dialog" style="display:@ModalDisplay;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Command</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => Close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body overflow-auto" style="height: 80%;">
                    @*<p>Modal body text goes here.</p>*@
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">C# Code</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" @bind="@CsCode"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" @onclick="Compile">Compile</button><br />
                    <textarea class="form-control mt-2" rows="1" id="comileText" @bind="@CompileText" style="background-color: #f0f0f0"></textarea>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%;display:@LoadingBarDisplay"></div>
                    </div>


                    <hr>


                    <label for="command">Command</label>
                    <textarea class="form-control" id="command" rows="3" @bind="@CommandJSON"></textarea>
                    <button type="button" class="btn btn-primary" @onclick="RunDebug">Run</button><br />

                    <hr>
                    <button type="button" class="btn btn-primary" @onclick="AddToToolbar">Add to toolbar</button><br />
                    <pre class="overflow-auto" style="height:50px">@ResultText</pre>


                    @*<div class="card">
            <div class="card-body p-0">
                <pre class="overflow-auto" style="height:50px">@ResultText</pre>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <pre>@CompileText</pre>
            </div>
        </div>*@

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*if (ShowBackdrop)
        {
            <div class="modal-backdrop fade show"></div>
        }*@

</div>





@functions {
    CompileBlazorInBlazor.Demo.DataAccess currentDataAccess;
    CompileBlazorInBlazor.Demo.AbstractCommand currentCommand;

    void RunCommand(CompileBlazorInBlazor.Demo.AbstractCommand command)
    {
        //var dataAccess = PresentCommandUserInterface(command);
        currentDataAccess = new CompileBlazorInBlazor.Demo.DataAccess();
        currentCommand = command;
        command.RegisterInputArguments(currentDataAccess);

        if (currentDataAccess.Arguments.Count == 0)
        {
            ProceedRunCommand();
        }
        else
        {
            PresentCommandUserInterface(currentDataAccess);
        }


    }


    CompileBlazorInBlazor.Demo.DataAccess PresentCommandUserInterface(CompileBlazorInBlazor.Demo.DataAccess dataAccess)
    {
        System.Diagnostics.Trace.WriteLine($"Number of inputs: {dataAccess.Arguments.Count}");

        //foreach (var argument in dataAccess.Arguments)
        //{

        //}
        LaunchCommandRunner();
        //foreach (var argument in command.Arguments)
        //{
        //    string name = argument.Prompt;
        //    string description = argument.Prompt;



        //}


        return null;
    }

    bool collapseNavMenu = true;



    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    string LoadingBarDisplay = "none;";
    public string CommandModalDisplay = "none;";

    public string ModalClass = "";
    public string CommandModalClass = "";
    public bool ShowBackdrop = false;

    string CsCode { get; set; }
    string ResultText { get; set; }
    string CompileText { get; set; }
    Type CompiledType { get; set; }
    string CommandJSON { get; set; }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    public void launchCommandEditor()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public void LaunchCommandRunner()
    {
        CommandModalDisplay = "block;";
        CommandModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void CloseCommandModal()
    {
        CommandModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public void ProceedRunCommand()
    {
        @*CompileBlazorInBlazor.Demo.Context context = new CompileBlazorInBlazor.Demo.Context();*@
    var command = currentCommand;
    var dataAccess = currentDataAccess;

    commandService.RunCommand(command, CurrentContext, dataAccess);

    //System.Diagnostics.Trace.WriteLine($"Running command {command.Name}");
    CloseCommandModal();

    currentCommand = null;
    currentDataAccess = null;
}

public async Task Compile()
{
    try
    {
        LoadingBarDisplay = "block;";
        service.CompileLog = new List<string>();
        CompiledType = await service.CompileOnly(CsCode);
    }
    catch (Exception e)
    {
        service.CompileLog.Add(e.Message);
        service.CompileLog.Add(e.StackTrace);
        throw;
    }
    finally
    {
        CompileText = string.Join("\r\n", service.CompileLog);
        this.StateHasChanged();
        LoadingBarDisplay = "none;";
    }
}

public void RunDebug()
{
    System.Diagnostics.Trace.WriteLine("Hello from Run method!");
    if (CompiledType == null) return;
    try
    {
        AddToToolbar();
        if (!string.IsNullOrEmpty(CommandJSON))
        {
            commandService.RunJSONCommand(CommandJSON, CurrentContext);
            ResultText = "";
        }
        else throw new Exception("No Command");
    }
    catch (Exception e)
    {
        service.CompileLog.Add(e.Message);
        service.CompileLog.Add(e.StackTrace);
        throw;
    }
    finally
    {
        CompileText = string.Join("\r\n", service.CompileLog);
        this.StateHasChanged();
    }
}

public void AddToToolbar()
{
    System.Diagnostics.Trace.WriteLine("Hello from AddtoToolbar method!");
    if (CompiledType == null) return;
    try
    {
        var instance = service.CreateRunClass(CompiledType);
        for (var i = 0; i < commandService.Commands.Count; i++)
        {
            CompileBlazorInBlazor.Demo.AbstractCommand c = commandService.Commands[i];
            if (c.CommandLineName == instance.CommandLineName)
            {
                System.Diagnostics.Trace.WriteLine($"Command already exists! Replacing {c.CommandLineName}");
                commandService.Commands[i] = instance;
                return;
            }
        }
        commandService.AddCommand(instance);
    }
    catch (Exception e)
    {
        service.CompileLog.Add(e.Message);
        service.CompileLog.Add(e.StackTrace);
        throw;
    }
    finally
    {
        CompileText = string.Join("\r\n", service.CompileLog);
        this.StateHasChanged();
    }
}

protected override void OnInitialized()
{
    CsCode = @"namespace CompileBlazorInBlazor.Demo
{
public class MyCommandExample : AbstractCommand
{
    public override string Name => ""Test Command 01"";

    public override string Author => ""Hackathon"";

    public override string Description => ""lol"";

    public override string CommandLineName => ""test"";

    public override string Accent => ""#77F798"";

    public override void RegisterInputArguments(DataAccess dataAccess)
    {
        dataAccess.RegisterNumberArgument(""Size X"", ""The size of the cube in X direction"", 20);
        dataAccess.RegisterNumberArgument(""Size Y"", ""The size of the cube in Y direction"", 20);
        dataAccess.RegisterNumberArgument(""Size Z"", ""The size of the cube in Z direction"", 20);
        dataAccess.RegisterTextArgument(""Color"", ""The color of the cube in Hex format"", ""#ff6700"");
    }

    public override CommandStatus RunCommand(Context context, DataAccess dataAccess)
    {
        double x = -1;
        double y = -1;
        double z = -1;
        string c = ""#ffffff"";
        if (!dataAccess.GetData<double>(0, ref x))
        {
            return CommandStatus.Failure;
        }
        if (!dataAccess.GetData<double>(1, ref y))
        {
            return CommandStatus.Failure;
        }
        if (!dataAccess.GetData<double>(2, ref z))
        {
            return CommandStatus.Failure;
        }
        if (!dataAccess.GetData<string>(3, ref c))
        {
            return CommandStatus.Failure;
        }

        context.AddCube(x, y, z, 20, 20, 20, c);
        return CommandStatus.Success;
    }
}
}
";

    CommandJSON = @"{""command"":"""",
""data"":[

]}
";
}
}



